body
{
  font-family: sans-serif;

}
header
{  
  background-color: #545445;
  position: fixed;
  height: 180px;
  width:940px;
  margin-left: 10px;
  
}
#header-logo
{
  width:120px;
  height: 120px;
  padding: 0 10px 0px 25px; 
  margin-top: 25px; 
}

#heading
{
   font-size: 30px;
   text-align: center;   
   padding-top: 30px;
   font-style: italic;
   padding-left: 5%; 
   color: white;
}

#search
{
  width: 70%;
  height: 35px; 
  border-style: 1px solid black;
  border-radius: 20px;
  margin-left:  8%;
  margin-bottom: 10%;
  padding-left: 10px;
 }
#click-search
{
  width: 50px;
  height: 30px;
  text-align: center;
  margin:10px;
  border-radius: 7px;

}
#login-reg
{
  float: left;
  font-style: italic;
  font-size: 20px;
  margin-top: 50%;
  margin-right: 0px;
  padding-left: 20%;  
  display: inline;
}
#login-reg li
{
  display: inline;
}
#login-reg a
{
  color: white;  
}
#login-reg li :after
{
  content: '\/';
  padding-left: 2px;
}
#login-reg li:last-child:after
{
  content: none;
}

nav
{
  margin-left:0px;
  margin-top: 10px;
} 
  
nav li
{
  display: inline; 
  color: red; 

} 
  
nav li a:hover
{
  background-color: grey;
  font-size: 20px;
  color: white;
}

nav li:after
{
  padding-left: 8px;
  content: '\|';
}
nav li:last-child:after
{
  content: none;
}
#hero
{
  width:100%;
  height:350px;
  margin-top: 15%;
  margin-left: 10px;

}
.sect-align
{
  background-color: #b3cccc;
  border:1px solid #1f2e2e;
  border-radius: 8px;
  display: block;
  margin-top: 0px;
  height: 450px;
  width: 940px;
  margin-left: 10px;
  overflow: hidden;
  margin: auto;
}
.sect-align h3
{
  font-size: 20px;
  margin-left: 10px;
  padding-left: 50px;
  margin-top: 10px;  
}


.sect-align img
{
  width:120px;
  height: 120px;
  margin-left: 75px;
  margin-top: 10px;
}
.sect-align p
{
  padding-left: 20px;
  margin-top: 10px;  
}
.sect1-align
{
  margin-top: 0px;
  float: right;
  margin-right: 2px;
  margin-bottom: 20px;
 }
 .gridCol-align
 {
  width: 300px;height: 252px;
  margin-top: 10px;  
 }
 .quotes-align
 {
  margin-top: 10px;
  padding-top: 10px;
 }
 .quotes-align p:before 
 {
  content: '\"';
 }
.quotes-align p:after 
 {
  content: '\"';
 }
.footer-bg
{
  background-color: #5c5c3d;
  height: 180px;
  width: 940px;
  margin-left: 10px;
  border-radius: 8px;
  margin: auto;
}
footer p
{
  text-align: center;
  margin-top: 12px;
}


