body
{
  font-family: sans-serif;
  background-color:  #ffdf80;
  margin-top: 0px;
  padding-top: 0px;
}
header
{  
  background-color: #545445;
  position: fixed;
  height: 180px;
  width:100%;
  margin: 0px;
  z-index: 1;
}
#header-logo
{
  float: right;
  width:120px;
  height: 120px;
  padding-left:  20%; 
  margin-top: 10%;
  padding-top: 5%;
  padding-right: 4%;
}
section>h2
{
   font-size: 30px;
   text-align: left;   
   padding-top: 0px;
   font-style: italic;
   padding-left: 20%; 
   color: white;
   margin-top: 8%;
}
#search
{
  width: 70%;
  height: 35px; 
  border-style: 1px solid black;
  border-radius: 20px;
  margin-left:  0%;
  margin-top: 5%;
  padding-left: 20px;
 }
#click-search
{
  width: 50px;
  height: 30px;
  text-align: center;
  margin:10px;
  border-radius: 7px;
}
#login-reg
{
  float: right;
  font-style: italic;
  font-size: 18px;
  margin-left:60%;
  margin-right: 7%;
  margin-top: -3%;
  padding-left: 20%; 
  color: #80ffff;
}
nav
{
  width: 100%;
  height:50px;
  margin-top:0%;
  margin-left: 0px;
  margin-right: 10px;
  padding-top: 5px;
  background-color: #545445
}  
nav li
{
  display: inline; 
  color: white;
  padding-left: 5px;
  margin-left: 5px; 
  margin-right: 5px;
} 
nav li a
{
  padding-bottom: 10px;
  font-size: 18px;
  color: yellow;
  text-decoration: none;
}  
nav li a:hover
{
  background-color: grey;
  font-size: 20px;
  color: white;  
}
nav li:after
{
  padding-left: 2px;
  content: '\/';
}
nav li:last-child:after
{
  content: none;
}
#hero
{
  width:100%;
  height:500px;
  margin-top: 15%;
  margin-left: 0px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.sect-align
{
  background-color: #ffbf80;
  border:1px solid #1f2e2e;
  border-radius: 8px;
  display: block;
  margin-top: 20px;
  height: 450px;
  width: 940px;
  margin-left: 10px;
  margin: auto;
}
.sect-align h3
{
  text-align: center;
  font-size: 22px;
  color:#1a3300;
  text-decoration: underline;
  text-shadow: 2px 2px #b5ff66;  
}
.sect-align h4
{
  font-size: 18px;
  color: #4d1300;
  margin-left: 10px;
  padding-left: 50px;
  margin-top: 10px;  
}
.sect-align img
{
  width:120px;
  height: 120px;
  margin-left: 75px;
  margin-top: 10px;
}
.sect-align p
{
  padding-left: 20px;
  margin-top: 10px;  
}
.special-offer
{
  background-color: #ffbf80;
  border:1px solid #1f2e2e;
  border-radius: 8px;
  display: block;
  margin-top: 10px;
  margin-left: 19.2%;
  height: 450px;
  width: 940px;
}
.special-offer h3
{
  text-align: center; 
  font-size: 50px;
  color: black;
  text-shadow:3px 3px  #80ffff; 
  transform-style: none;
}
.blink
{
  animation: blink infinite 0.60s 1s;
}
@keyframes blink
{
  from
   { opacity: 0;  }
  to
  {  opacity: 1;  }

}
#fig-left
{
  float: left;
  width: 25%;
  height: 25%;
  margin-left: 25px;
}
#fig-right
{
  float: right;
  width: 48%;
  height: 48%;
  margin-right: 25px;
  margin-top: 10px;
}
.sub-sect-align
{
  background-color: #ffbf80;
  border:1px solid #1f2e2e;
  border-radius: 8px;
  display: block;
  margin-top: 10px;
  margin-left: 19.2%;
  height: 450px;
  width: 940px;
 
}
.sub-sect-align h3
{
  text-align: center;
  font-size: 22px;
  color:#1a3300;
  text-decoration: underline;
  text-shadow: 2px 2px #b5ff66;
 
}
.sub-sect-align h4
{
  font-size: 18px;
  color: #4d1300;
  margin-left: 10px;
  padding-left: 50px;
  margin-top: 10px;  
}
.sub-sect-align img
{
  width:120px;
  height: 120px;
  margin-left: 75px;
  margin-top: 10px;
}
.sub-sect-align p
{
  padding-left: 20px;
  margin-top: 10px;  
}
 .grid-col-align
 {
  width: 300px;height: 252px;
  margin-top: 10px;  
 }
 article>section>h5
 {
  float: left;
  color: #4d0026;
 }
 article>section>h5:after
 {
  content: ':';
 }
 .quotes-align
 {
  margin-top: 10px;
  padding-top: 32px;
  text-align: justify;
 }
 .quotes-align p:before 
 {
  content: '\"';
 }
.quotes-align p:after 
 {
  content: '\"';
 }
 .author-name p
 {
  float: right;
  padding-right: 10px;
 }
 .author-name p:before
 {
  content: '\~';
 }
 .author-name p:after
 {
  content: none;
 }
footer
{
  background-color: #5c5c3d;
  height: 220px;
  width: 100%;
  margin-left: 10px;
  border-radius: 8px;
  margin: auto;
  margin-top: 10px;
}
footer h3
{
  text-align: center;
  color: #1a3300;
  margin-top: 5px;
}
footer ul
{
  margin-left: 15px; 
  margin-top: 2px;
}
.foot-align p
{
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  padding-left: 10px;
  padding-top: 8%;
}
.social-icon img
{
  float: right;
  width: 25px;
  height: 25px;
  padding-right: 5px;
  margin-right: 10px;
  margin-top: 2px;
  padding-top: 4%;
}
.social-icon h4
{
  text-align: right;
  padding-right: 10px;

}


